  <footer id="footer" class="cover-bg" style="background-image: url(images/footer-bg.jpg);">
    <div class="wrapper">
      <strong class="logo">
        <a href=""><img src="images/richlogo.svg" width="270" height="96" alt="Rich Development Company"></a>
      </strong>
      <div class="is-flex tablet-1items">
        <div class="column is-flex has-2items itemsize-6">
          <div class="column">
            <h5>San Pedro Office</h5>
            <address>
              1000 N. Western Avenue, Suite 200<br>
              San Pedro, CA 90732
            </address>
            <p>(310) 547.3326</p>
          </div>
          <div class="column">
            <h5>Santa Ana Office</h5>
            <address>
              600 N. Tustin Avenue, Suite 150<br>
              Santa Ana, CA 92705
            </address>
            <p>(714) 835.3311</p>
          </div>
        </div>
        <div class="column is-flex has-2items itemsize-4">
          <ul class="column">
            <li><a href="">A Rich History</a></li>
            <li><a href="">Executive Team</a></li>
            <li><a href="">News</a></li>
            <li><a href="">Contact</a></li>
          </ul>
          <ul class="column">
            <li><a href="">Portfolio</a></li>
            <li><a href="">Sales Properties</a></li>
            <li><a href="">Lease Properties</a></li>
          </ul>
        </div>
        <div class="column align-right">
          <dl class="socials">
            <dt>Social:</dt>
            <dd>
              <ul class="list-inline list-social">
                <li><a href=""><i class="fab fa-facebook-f"></i></a></li>
                <li><a href=""><i class="fab fa-twitter"></i></a></li>
                <li><a href=""><i class="fab fa-linkedin-in"></i></a></li>
              </ul>
            </dd>
          </dl>
        </div>
      </div>
    </div>
  </footer>
  <div class="btmbar">
    <div class="wrapper">
      <div class="is-flex mobile-column-direction">
        <p class="column">&copy; 2018 Rich Developments. All rights reserved.</p>
        <p class="column align-right">Website by <a href="https://www.brightoak.com/">Bright Oak</a></p>
      </div>
    </div>
  </div>
  <script src="js/main.js"></script>