<section class="section recentnews">
  <div class="wrapper">
    <div class="section-heading text-center text-uppercase">
      <h3>Recent News &amp; Articles</h3>
    </div>
    <div class="is-flex stretch-items has-3items tablet-1items flexmargins2-5">
      <div class="column">
        <div class="card">
          <a href="" class="card-image">
            <figure class="image is-fullwidth">
              <img src="images/img2.jpg" alt="Lawndale" width="406" height="266">
            </figure>
            <span class="roll-text text-uppercase">View <br> Article</span>
          </a>
          <div class="card-content">
            <div class="oveflow-h">
              <ul class="list-inline list-dashed text-uppercase list-tags">
                <li><a href="">News</a></li>
                <li><a href="">Architecture</a></li>
                <li><a href="">Lipsum</a></li>
              </ul>
            </div>
            <h4><a href="">Lorem ipsum dolor sit amet quisque faucibus molestie lorem non suscipit curabitur varius</a></h4>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="card">
          <a href="" class="card-image">
            <figure class="image is-fullwidth">
              <img src="images/img3.jpg" alt="Lawndale" width="406" height="266">
            </figure>
            <span class="roll-text text-uppercase">View <br> Article</span>
          </a>
          <div class="card-content">
            <div class="oveflow-h">
              <ul class="list-inline list-dashed text-uppercase list-tags">
                <li><a href="">News</a></li>
                <li><a href="">Architecture</a></li>
                <li><a href="">Lipsum</a></li>
              </ul>
            </div>
            <h4><a href="">Lorem ipsum dolor sit amet quisque faucibus molestie lorem non suscipit curabitur varius</a></h4>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="card">
          <a href="" class="card-image">
            <figure class="image is-fullwidth">
              <img src="images/img4.jpg" alt="Lawndale" width="406" height="266">
            </figure>
            <span class="roll-text text-uppercase">View <br> Article</span>
          </a>
          <div class="card-content">
            <div class="oveflow-h">
              <ul class="list-inline list-dashed text-uppercase list-tags">
                <li><a href="">News</a></li>
                <li><a href="">Architecture</a></li>
                <li><a href="">Lipsum</a></li>
              </ul>
            </div>
            <h4><a href="">Lorem ipsum dolor sit amet quisque faucibus molestie lorem non suscipit curabitur varius</a></h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>