<div id="sidenav">
  <div class="inner">
    <ul class="nav">
        <li>
          <a href="">A Rich History</a>
        </li>
        <li>
          <a href="">Executive Team</a>
        </li>
        <li>
          <a href="">News</a>
        </li>
        <li>
          <a href="">Contact</a>
        </li>
        <li>
          <a href="">Portfolio</a>
        </li>
        <li>
          <a href="">Sales Properties</a>
        </li>
        <li>
          <a href="">Lease Properties</a>
        </li>
    </ul>
    <ul class="list-inline list-social">
      <li><a href=""><i class="fab fa-facebook-f"></i></a></li>
      <li><a href=""><i class="fab fa-twitter"></i></a></li>
      <li><a href=""><i class="fab fa-linkedin-in"></i></a></li>
    </ul>
    <div class="signup-form">
      <div class="is-flex is-vcentered is-column-direction has-1items">
        <label for="signup-email-side" class="column">
          <span class="holder">
            <span class="rdicon-signup"></span>
            <strong>Rich Developments Newsletter Signup</strong>
            <b>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</b>
          </span>
        </label>
        <form action="" class="column is-flex is-column-direction">
          <input id="signup-email-side" type="text" class="txt" placeholder="example@gmail.com">
          <input type="submit" value="Subscribe" class="button">
        </form>
      </div>
    </div>
  </div>
  <span class="close-cross"></span>
</div>