<div class="signup-form">
  <div class="wrapper size-fourfifth">
    <div class="is-flex is-vcentered desktop-column-direction has-2items">
      <label for="signup-email" class="column">
        <span class="holder">
          <span class="rdicon-signup"></span>
          <strong>Rich Developments Newsletter Signup</strong>
          <b>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</b>
        </span>
      </label>
      <form action="" class="column is-flex tablet-column-direction">
        <input id="signup-email" type="text" class="txt itemsize-8" placeholder="example@gmail.com">
        <input type="submit" value="Subscribe" class="button itemsize-4">
      </form>
    </div>
  </div>
</div>